---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Events">
  <img src="/images/event_top_billede.webp" alt="Event billede 1" />
  <div class="top">
    <h1>Events, koncerter og god stemning</h1>
    <p>Hos Amager Records er butikken <span>meget mere end bare en pladeforretning.</span> Vi elsker at skabe liv og lyd omkring musikken, og derfor afholder vi løbende små, intime events – lige fra <span>akustiske koncerter og DJ-aftener</span> til <span>pladebørser, releasefester og spontane pop-up arrangementer.</span></p>
    <a href="https://www.place2book.com/da/sw2/sales/event_list/EM11444">Bestil her</a>
  </div>
  <div class="midt">
    <img src="/images/event_midt_billede.webp" alt=" Event billede 2" />
    <div class="midt_text">
      <h1>Direkte fra hjertet af Amager</h1>
      <p>Det er de dage og aftener, hvor vinylerne snurrer, folk samles over en øl eller en kop kaffe, og der opstår noget særligt mellem musikere, gæster og nysgerrige sjæle. Uanset om du er stamgæst eller førstegangsbesøgende, <span>er du altid velkommen.</span></p>
    </div>
  </div>

  <div class="bund">
    <img src="/images/event_bund_billede.webp" alt="Event billede 3" />
    <div class="bund_text">
      <h1>Vil du vide, hvad der sker næste gang?</h1>
      <p>Så husk at følge os på <a href="https://www.instagram.com/amagerrecords/" target="_blank">[Instagram]</a> og <a href="https://www.facebook.com/amagerrecords" target="_blank">[Facebook]</a>.</span> Her deler vi alle vores kommende events, stemningsbilleder fra butikken og masser af musiknørderi fra hverdagen hos Amager Records. Det er også her, du får de første glimt af <span>nye plader i butikken</span> – og måske en invitation til næste koncert i baglokalet.</p>
    </div>
  </div>
</Layout>

<style>
  p {
    font-size: var(--fs-base);
  }
  .top p {
    margin-bottom: 2rem;
  }
  .top a {
    background-color: black;
    color: white;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: var(--fs-md);
    cursor: pointer;
    display: inline-block;
    transition: transform 0.2s ease;
  }

  span {
    font-weight: bold;
  }
  .bund_text a {
    cursor: pointer;
    font-weight: bold;
  }
  .bund_text a:hover {
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.05);
  }
  .top a:hover {
    transform: scale(1.05);
  }

  .midt {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 10rem;
  }
  .bund {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 10rem;
  }

  .top {
    text-align: center;
    max-width: 1000px;
    justify-self: center;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  img {
    width: 100%;
  }

  @media (min-width: 800px) {
    .midt {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    .midt_text {
      grid-column: 1 / 2;
      grid-row: 1/2;
      margin-top: 25%;
    }
    .bund {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    .bund_text {
      margin-top: 28%;
    }
  }
  @media (min-width: 1080px) and (max-width: 1250px) {
    .midt_text {
      margin-top: 20%;
    }
    .bund_text {
      margin-top:;
    }
    .bund_text {
      margin-top: 22%;
    }
  }
  @media (min-width: 900px) and (max-width: 1080px) {
    .midt_text {
      margin-top: 10%;
    }
    .bund_text {
      margin-top: 16%;
    }
  }
  @media (min-width: 800px) and (max-width: 900px) {
    .midt_text {
      margin-top: -1%;
    }
    .bund_text {
      margin-top: -1%;
    }
  }
</style>
