---
import "../styles/globalStyle.css";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Tester Title">
<h1>Nevermind</h1>
<img src="/img/Nevermind.png" alt="322">
<div class="tekstboks">
<p>LP, Album</p>
<p>Nirvana</p>
<p>Media: Very Good Plus</p>
<p>Sleve: Very Good Plus</p>
<p>1195 kr</p>
<a href="">Læg i vogn</a>
</div>
  </Layout>

  <style>
.tekstboks{
  background-color: #CFDBF1;
  
  padding-left: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  
}
  
  </style>