---

---

  <article class="productCard flex_col" id="productID">
    <div class="cardImgContainer">
      <a href="" id="productLink"><img src="/images/Nevermind.png" alt="Product Image" class="cardImg" id="prodImg" /></a>
      <div class="cardStock" id="prodStock">
        <p class="cardStatus">Sold Out</p>
      </div>
    </div>
    <p class="cardName" id="prodName">Lorem</p>
    <div class="cardCategories">
     <p class="cardCat" id="prodCat">Ipsum, Dolor</p>
     <p class="cardSubCat" id="prodSubCat">Sit-Amet-Z</p>
    </div>
    <p class="cardPrice" id="prodPrice">
      <span class="currentPrice" id="prodCurrentPrice">69,69 Kr</span>
      <span class="discountPrice" id="prodDiscountPrice">777 Kr</span>
    </p>
  </article>

<style>
  /*********    Container Styling    ***********/
  .productCard {
    
  }
  .cardImgContainer {
    margin-bottom: 0.5rem;
  }
  .cardCategories {
    margin: 0.5rem 0;
  }
  /*********    Text Styling    ***********/
  .cardPrice {
    display: flex;
    justify-content: space-between;
  }
  /*********    Flexbox Styling    ***********/
  .flex_col {
    display: flex;
    flex-direction: column;
  }
  /*********    Image Styling    ***********/
  .cardImg {
    width: 140px;
    height: 140px;
  }

  /*********    Misc/Temp Styling    ***********/
  .cardStock {
    display: none;
  }
</style>
