---

---

<div class="searchGroup">
  <i class="searchIcon"></i>
  <form class="searchContainer" id="searchContainer" method="GET">
    <input type="text" id="searchInput" placeholder="Eksempel: 'LP'" aria-label="Search" />
    <button type="submit" id="searchBtn">Søg</button>
  </form>
</div>

<style>
  /*********    Nav Search Stylings    ***********/
  .searchContainer {
    display: none;
  }
  .searchContainer.active {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5%;
    right: 150%;
  }
  .searchContainer input {
    width: 150px;
    height: 40px;
    padding: 0.5rem;
    background-color: var(--color-primary);
    border: 2px solid var(--color-text-primary);
  }
  .searchContainer button {
    cursor: pointer;
    width: 50px;
    height: 40px;
    background-color: var(--color-text-primary);
    color: var(--color-primary);
    font-family: var(--font-family-serif);
    font-size: var(--fs-sm);
    text-transform: uppercase;
    font-weight: bold;
  }
  .searchIcon {
    cursor: pointer;
    background-image: url("/images/svgs/searchIcon.svg");
    width: 30px;
    height: 30px;
  }
  .searchIcon:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease;
  }
  .searchGroup {
    position: relative;
  }
</style>

<script defer>
  document.addEventListener("DOMContentLoaded", () => {
    const searchForm = document.getElementById("searchContainer");
    const searchInput = document.getElementById("searchInput");

    const searchIcon = document.querySelector(".searchIcon");

    searchIcon.addEventListener("click", toggleSearchBar);
    function toggleSearchBar() {
      searchForm.classList.toggle("active");
      searchInput.focus();
    }

    window.addEventListener("click", (event) => {
      if (!searchForm.contains(event.target) && !searchIcon.contains(event.target)) {
        hideSearchBar();
      }
    });

    function hideSearchBar() {
      searchForm.classList.remove("active");
      searchInput.value = "";
    }
  });
</script>
